name: Copy Secrets
on:
  workflow_dispatch

jobs:
  copy-secrets:
    runs-on: ubuntu-latest
    steps:
      - name: Authenticate GitHub CLI
        run: echo "${{ secrets.GITHUB_TOKEN }}" | gh auth login --with-token
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Copy Secrets
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          for secret in $(gh secret list -R W3endigo/getting-started-app | awk '{print $1}'); do
            value=$(gh secret get "$secret" -R W3endigo/getting-started-app)
            gh secret set "$secret" -R W3endigo/projet_DP_API --body "$value"
          done
